target/classes/testmvn.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b14471c6-5b6d-4b19-90bd-fca7ce49ca0f" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="testmvnFlow" doc:id="76e11376-1aa2-4ca2-b497-19d33ff07b15" >
		<http:listener doc:name="Listener" doc:id="8def55f9-80b0-4369-b6a5-21cc970c6b74" config-ref="HTTP_Listener_config" path="/testmvn"/>
		<set-payload value='#["testmvn"]' doc:name="Set Payload" doc:id="5d211494-9204-4ba7-ada6-0b2c068bbd6a" />
	</flow>
</mule>
